h1 {
    color: red;
}

.box {
    height:500px;
    width: 1000px;
    background-color: coral;
}

#textArea {
    background-color: darkgoldenrod;
}

body {
    background-color: rgb(170, 170, 235);
}

