h1 {
    color: red;
}

.box {
    height:400px;
    width: 1000px;
    background-color: coral;
}

#textArea {
    background-color: rgb(202, 199, 192);
}

body {
    background-color: rgb(170, 170, 235);
}

.submitButton {
    background-color: rgb(238, 124, 200);
}

